.Chat-main__messagebox
  .Chat-main__name
    .Chat-main__namename
      = message.user.name
    .Chat-main__day
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .Chat-main__comment
    - if message.content.present?
      %p.Chat-main__content
        = message.content
    = image_tag message.image.url, class: 'Chat-main__image' if message.image.present?