.Side-bar
  .Side-bar__user-name
    .Side-bar__name-space
      .Side-bar__name
        masa
      .Side-bar__icon
        = link_to "#", class: "Side-bar__edit" do
          = icon('fas', 'edit')
        = link_to "#", class: "Side-bar__cog" do 
          = icon('fas', 'cog')

  .Side-bar__group-list
    .Side-bar__group-box
      .Side-bar__group-name
        techcamp
      .Side-bar__group-message
        まだメッセージはありません
    .Side-bar__group-box
      .Side-bar__group-name
        techcamp
      .Side-bar__group-message
        まだメッセージはありません